<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Depositing Money </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<style>
table, th, td {
    border: 1px solid black;
}
table#t01 ,tr#t01 , td#t01{
        border : none;
}

</style>

<form name = "myForm" onsubmit="return validateForm()" action="{% url 'banking_system:deposit' %}" method="post">
{% csrf_token %}
<table id ="t01" width="70%">
	<tr>
		<th width="10%">Account Number</th>
		<th width="20%">Account Type</th>
		<th width="20%">Currency</th>
		<th width="20%">Current Balance</th>
		<th width="30%">Deposit Amount</th>
	</tr>
	<tr>
	<td align="center">{{ Accountnum }}</td>
	<td align="center">{{ AccountType }}</td>
	<td align="center">{{ AccountCurrency }}</td>
	<td align="center">{{ AccountBalance }}</td>
	<td><input type="number" name="deposit_amount" value="0"> </td>
	<td> <input type="Submit" value="Deposit"/> </td>
	</tr>
</table>
<input id="Return" type="button" value="Back" onclick="location.href='/banking_app/user_portal';" />
</form>
<a href={% url 'banking_system:user_portal' %}>Back to Portal</a>
</body>
</html>

<script>
function validateForm() {
    var x = document.forms["myForm"]["deposit_amount"].value;
    if (x == "") {
        alert("Deposit must be filled out");
        return false;
    }
} 
</script>
