<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Editing a Customer </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form name = "myForm" onsubmit="return validateForm()" action="{% url 'banking_system:editCustomer' %}" method="post">
{% csrf_token %}
<table width="70%">
	<tr>
		<th width="10%">Customer ID</th>
		<th width="10%">First Name</th>
		<th width="10%">Last Name</th>
		<th width="35%">Email</th>
		<th width="35%">Address</th>
	</tr>
	<tr>
	<td>{{ CustomerID }}<input type="hidden" name="customer_id", value="{{ CustomerID }}"></td>
	<td><input type="text" maxlength="10" name="customer_fname", value="{{ Fname }}"> </td>
	<td><input type="text" maxlength="10" name="customer_lname", value="{{ Lname }}"> </td>
	<td><input type="email" maxlength="30" name="customer_email", value="{{ Email }}"></td>
	<td><input type="text" maxlength="50" name="customer_address", value="{{ Address }}"> </td>
	<td> <input type="Submit" value="Make Changes"/> </td>
	</tr>
</table>
<input id="Return" type="button" value="Back" onclick="location.href='/banking_app/adminPortal/manageCustomers';" />
</form>
</body>
</html>

<script>
function validateForm() {
    var x = document.forms["myForm"]["customer_fname"].value;
    if (x == "") {
        alert("First Name must be filled out");
        return false;
    }

    var x = document.forms["myForm"]["customer_lname"].value;
    if (x == "") {
        alert("Last Name must be filled out");
        return false;
    }

} 
</script>
