<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Editing an Account </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form name = "myForm" onsubmit="return validateForm()" action="{% url 'banking_system:editAccount' %}" method="post">
{% csrf_token %}
<table width="70%">
	<tr>
		<th width="10%">Account Number</th>
		<th width="20%">Account Type</th>
		<th width="20%">Currency</th>
		<th width="20%">Customer ID</th>
		<th width="30%">Balance</th>
	</tr>
	<tr>
	<td>{{ AccountNum }}<input type="hidden" name="account_num", value="{{ AccountNum }}"></td>
	<td><select style="width:250px;" name='account_type'>
			{% for type in Types %}
				<option {% if type.name == AccountType %} selected ="selected" {% endif %} name = {{type.name}}">{{ type.name }} </option>
			{% endfor %}
		</select></td>
	<td><select style="width:250px;" name='account_currency'>
			{% for currency in Currencies %}     
			<option {% if currency.abbreviation == Currency %} selected ="selected" {% endif %} name="{{ currency.abbreviation }}">{{ currency.abbreviation }}</option>
			{% endfor %}
		</select></td>
	<td><input type="number" maxlength="10" name="account_customerid", value="{{ CustomerID }}"></td>
	<td><input type="number" name="account_balance", value="{{ Balance }}"> </td>
	<td> <input type="Submit" value="Make Changes"/> </td>
	</tr>
</table>
<input id="Return" type="button" value="Back" onclick="location.href='/banking_app/adminPortal/manageAccounts';" />
</form>
</body>
</html>

<script>
function validateForm() {
    var x = document.forms["myForm"]["account_customerid"].value;
    if (x == "") {
        alert("Customer ID must be filled out");
        return false;
    }

    var x = document.forms["myForm"]["account_balance"].value;
    if (x == "") {
        alert("Balance must be filled out");
        return false;
    }

} 
</script>
