<h1>Account summary </h1>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<table style="width:100%">
    <tr>
       <th>Account Number</th>
        <th>Account Type</th>
        <th>Balance</th>
        <th>Currency</th>
    </tr>
    <tr>
       <td>{{ acc.accountnum }}</td>
        <td>{{ acc.accounttype }}</td>
        <td>{{ acc.balance }}</td>
        <td>{{ acc.currency }}</td>
    </tr>
</table>
<h2>Transactions</h2>
<table style="width:100%">
   <tr>
       <th>transaction number</th>
       <th>transaction type</th>
       <th>transaction date</th>
       <th>transaction amount</th>
   </tr>
    {% for row in trans %}
        <tr>
           <td>{{ row.transnum }}</td>
           <td>{{ row.type }}</td>
           <td>{{ row.amount }}</td>
           <td>{{ row.transdate }}</td>
        </tr>
    {% endfor %}
</table>

<a href={% url 'banking_system:user_portal' %}>Back to Portal</a>