<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Withdrawing Money </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<style>
table, th, td {
    border: 1px solid black;
}
table#t01 ,tr#t01 , td#t01{
        border : none;
}

</style>

<form action="{% url 'banking_system:withdraw' %}" method="post">
{% csrf_token %}
<table id="t01" width="70%">
	<tr>
		<th width="10%">Account Number</th>
		<th width="20%">Account Type</th>
		<th width="20%">Currency</th>
		<th width="20%">Current Balance</th>
		<th width="30%">Withdraw Amount</th>
	</tr>
	<tr>
	<td align="center">{{ Accountnum }}</td>
	<td align="center">{{ AccountType }}</td>
	<td align="center">{{ AccountCurrency }}</td>
	<td align="center">{{ AccountBalance }}</td>
	<td><input type="number" name="withdraw_amount" value="0"> </td>
	<td> <input type="Submit" value="Withdraw"/> </td>
	</tr>
</table>
<input id="Return" type="button" value="Back" onclick="location.href='/banking_app/user_portal';" />
</form>
</body>
</html>

<script>
function validateForm() {
    var x = document.forms["myForm"]["withdraw_amount"].value;
    if (x == "") {
        alert("Withdraw Amount must be filled out");
        return false;
    }
}
</script>
